* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #000019;
  --secondary: #0085ff;
  --text-color: #e6e4e1;
}
body {
  background-color: var(--primary);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%230085ff' fill-opacity='0.46' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif,
    apple color emoji, segoe ui emoji, segoe ui symbol;
  color: #fff;
}
.image-logo-container {
  display: grid;
  place-content: center;
  opacity: 0.6;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/*  imput */

input[type='range'] {
  -webkit-appearance: none;
  width: 150px;
  height: 2px;
  background: rgba(250, 250, 250, 0.4);
  border-radius: 8px;
  background-image: linear-gradient(var(--secondary), var(--secondary));
  background-size: 100% 100%;
  background-repeat: no-repeat;
  align-items: center;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  background: var(--secondary);
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.buffered {
  background-color: rgba(250, 250, 250, 0.4);
  border-radius: 4px;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  z-index: 200;
}
/* new CSS */
.video-container {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  overflow: hidden;
  margin-top: 2rem;
  background-color: black;
  border-radius: 8px;
}

/* Theater and Full Screen */
.video-container.theater,
.video-container.fullscreen {
  max-width: initial;
  width: 100%;
}
.video-container.theater {
  margin-top: 1rem;
}
/* Theater */
.video-container.theater {
  max-height: 90vh;
}
/* Full Screen */
.video-container.full-screen {
  max-height: 100vh;
}
.video-controls-container {
  display: none;
  position: absolute;
  bottom: -150px;
  left: 0;
  right: 0;
  z-index: 200;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
.video-controls-container.volume {
  display: initial;
}

.video-controls-container::before {
  content: '';
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
  width: 100%;
  aspect-ratio: 6 / 1;
  z-index: -1;
  pointer-events: none;
}

.video-container.paused .video-controls-container {
  opacity: 1;
  bottom: 0;
  display: initial;
}

.video-controls-container .controls {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem 1rem;
}

.video-controls-container .controls button,
button {
  position: relative;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  height: 30px;
  width: 30px;
  font-size: 1.3rem;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 150ms ease-in-out;
  transition: transform 70ms ease-in-out;
}

svg {
  fill: #fff;
  cursor: pointer;
}

.play-btn {
  width: 50px;
  height: 50px;
  opacity: 1;
}
.play-btn svg {
  fill: var(--secondary);
}
.video-container.paused.scrubbing .play-btn {
  opacity: 0;
}

.video-container.paused .pause-icon {
  display: none;
}
.video-container:not(.paused) .play-icon {
  display: none;
}
.video-container.full-screen .open {
  display: none;
}
.video-container.full-screen .controls {
  padding: 0.5rem 2rem 2rem;
}
.video-container.full-screen .timeline-container {
  margin: 0 2rem;
}

.video-container:not(.full-screen) .close {
  display: none;
}

.volume-high-icon,
.volume-low-icon,
.volume-muted-icon {
  display: none;
}
.video-container[data-volume-level='high'] .volume-high-icon {
  display: block;
}
.video-container[data-volume-level='low'] .volume-low-icon {
  display: block;
}
.video-container[data-volume-level='muted'] .volume-muted-icon {
  display: block;
}

.volume-container {
  position: relative;
  width: 30px;
  height: 30px;
  z-index: 20;
}
.volume-slider-container {
  left: 50%;
  transform: translateY(-205px) translateX(-50%) rotate(-90deg);
  position: absolute;
  display: none;
  background-color: #000019;
  border-radius: 4px;
  color: #fff;
  align-items: center;
  padding: 0 0.5rem;
  height: 50px;
  padding-left: 20px;
  transition: width 150ms ease-in-out, transform 150ms ease-in-out;
}
.volume-slider {
  width: 100px;
  transform-origin: left;
}
.range-value {
  transform: rotate(90deg);
  display: inline-block;
  color: #fff;
  opacity: 0.6;
  width: 30px;
  font-weight: bold;
  margin-left: 5px;
  text-align: center;
}
.volume-container.volume .volume-slider-container {
  display: flex;
}

.duration-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  flex-grow: 1;
  opacity: 0.6;
}

.video-controls-container .controls button.wide-btn {
  width: 50px;
}

.timeline-container {
  height: 15px;
  margin-inline: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin: 0 1rem;
}
.timeline-container.scrubbing .timeline {
  height: 20%;
}
.timeline {
  position: relative;
  background-color: rgba(250, 250, 250, 0.2);
  height: 2px;
  width: 100%;
  position: relative;
  border-radius: 8px;
}

.timeline::before {
  content: '';
  --scale: 0;
  position: absolute;
  transform: translateX(-50%) scale(var(--scale));
  height: 200%;
  top: -50%;
  left: calc(var(--preview-position) * 100%);
  background-color: rgba(250, 250, 250, 0.8);
  transition: transform 150ms ease-in-out;
  width: 3px;
  z-index: 10;
}
.timeline::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--progress-position) * 100%);
  background-color: var(--secondary);
  border-radius: 8px;
}
.video-container.scrubbing .thumb-indicator,
.timeline-container.scrubbing .timeline::before {
  --scale: 1;
}

.video-container.scrubbing .timeline::before {
  display: block;
}

.timeline .range-timeline {
  --scale: 0;
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  text-align: center;
  border-radius: 4px;

  font-weight: bold;
  top: -60px;
  left: calc(var(--preview-position) * 100%);
  transform: translateX(-50%);
  line-height: 45px;
  z-index: 1;
  opacity: 0;
  font-size: 17px;
}
.timeline .thumb-indicator {
  --scale: 0;
  position: absolute;
  transform: translateX(-50%) scale(var(--scale));
  height: 200%;
  top: -50%;
  left: calc(var(--progress-position) * 100%);
  background-color: rgba(250, 250, 250, 0.8);
  border-radius: 50%;
  transition: transform 150ms ease-in-out;
  aspect-ratio: 1/1;
  border-radius: 8px;
  z-index: 10;
}

.video-container.scrubbing .timeline::before {
  display: block;
}

.container-title {
  display: inline-block;
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  padding: 8px;
  opacity: 0.9;
  white-space: nowrap;
  font-size: 15px;
  z-index: 200;
}
.container-title.fullscreen {
  right: 0;
  left: auto;
  transform: none;
}
.container-title.play-pause {
  left: 0;
  right: auto;
  transform: none;
}
.container-title.theater {
  transform: translateX(-60%);
}
.video-container.paused .show-controls,
.video-container.controls .show-controls {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: grid;
  place-content: center;
}
.video-container.controls .video-controls-container {
  opacity: 1;
  bottom: 0;
  display: initial;
}
.show-controls {
  display: none;
}

.duration-container-scrubbing {
  display: none;
}
@media (max-width: 1200px) {
  .theater-btn {
    display: none;
  }
  .volume-container {
    display: none;
  }
  .container-title {
    display: none;
  }
  .duration-container-scrubbing {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    place-content: center;
    font-size: 1.5rem;
    height: 60px;
    align-items: center;
    font-weight: bold;
    color: #fff;
    opacity: 0.6;
    display: none;
    gap: 0.5rem;
    transition: opacity 100ms ease-in-out;
  }
  .video-container.scrubbing .duration-container-scrubbing {
    display: flex;
  }
  .video-container.scrubbing button,
  .video-container.scrubbing .duration-container {
    opacity: 0;
  }
  .video-container.scrubbing .timeline {
    height: 50%;
  }
  .video-container.scrubbing .buffered {
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .video-controls-container .controls button:hover {
    opacity: 0.8;
    transform: scale(1.2);
  }
  .video-container.scrubbing .thumb-indicator,
  .timeline-container:hover .thumb-indicator,
  .timeline-container:hover .buffered,
  .timeline-container:hover .timeline::before,
  .timeline-container.scrubbing .timeline::before,
  .timeline-container:hover .timeline .range-timeline {
    --scale: 1;
  }
  .timeline-container:hover .timeline .range-timeline {
    opacity: 0.7;
  }
  .timeline-container:hover .buffered {
    height: 100%;
  }
  .video-container.scrubbing .timeline::before,
  .timeline-container:hover .timeline::before {
    display: block;
  }
  .timeline-container:hover .timeline {
    height: 20%;
  }
  .video-container.paused .show-controls,
  .video-container .show-controls {
    display: none;
  }
  .video-container:hover .video-controls-container {
    opacity: 1;
    bottom: 0;
    display: initial;
  }
  .video-controls-container .controls {
    padding: 0.5rem 1rem 1rem;
  }
  .timeline-container {
    height: 30px;
  }
  .image-logo-container {
    margin-bottom: 0;
  }
}
